/* password.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f7f8fa, #edf0f3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-section {
    width: 100%;
    max-width: 400px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: #fff;
    border-radius: 15px;
    padding: 50px 40px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    width: 480px;    
    max-width: 95%;       
}


.auth-card img {
    max-width: 90px;
    margin-bottom: 15px;
}

.auth-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.auth-subtitle {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

.auth-group {
    margin: 30px 0;
    text-align: left;
}

.auth-group input {
    width: 90%;           /* biar tidak full, lebih enak dilihat */
    max-width: 360px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 0.95rem;
    transition: border 0.3s ease;
}

.auth-group input:focus {
    border-color: #e53935;
}

.auth-btn {
    width: 100%;
    background: linear-gradient(90deg, #ff3c3c, #e53935);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.auth-btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.auth-message {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.auth-message.success {
    color: green;
}

.auth-message.error {
    color: red;
}

.auth-footer {
    margin-top: 20px;
    font-size: 0.85rem;
    color: #888;
}

.auth-footer span {
    display: block;
    margin-top: 5px;
    font-style: italic;
    color: #555;
}
